.videoCard{
   width: 30vmax;
   height: 48vh; 
   background-repeat: no-repeat;
   margin: 0.5vmax;
   display: flex;
   flex-direction: column;
   align-items:  center;
   justify-content: center;
   background-size: cover;
   cursor: pointer;
}
.videoCard >a{
    transform: all 0.5s;
    padding:2.5vmax;
    border: none;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.096);
}

.videoCard>a>svg{
    fill:white;

}
.videoCard:hover a{
    background-color:rgba(255,255,255,0.671);

}
.videoCard p{
    color: white;
    margin: 1vmax;
}